[Unit]
Description=Opencast Nexus GeoIP Gateway
After=network.target
Before=nginx.service

[Service]
WorkingDirectory={{ role.location.base }}
ExecStart=/usr/bin/gunicorn -b unix:socket georedirect:app
Restart=always
User={{ role.owner }}
PrivateTmp=true

[Install]
WantedBy=multi-user.target
